{
    "username":"mqtt_username",
    "password":"mqtt_password",
    "host":"mqtt_server_dns",
    "port":8883,
    "delay":10,
    "dev":"/dev/serial/by-id/usb-239a_Adafruit_Industries-if00",
    "baud":115200,
    "row_characters":16,
    "log_path":"/etc/mqtt_lcd/log",
    "lat": 12.3456,
    "lon": -12.3456,
    "api_key":"wunderground_api_key",
    "update_interval":240,
    "enable_mqtt":true,
    "alert_color":[255,0,0],
    "normal_color":[255,255,255]
}
