[Unit]
Description=MQTT LCD 

[Service]
Type=simple
User=admin
Group=admin
WorkingDirectory=/home/admin/mqtt_lcd
PIDFile=/var/run/mqtt_lcd.pid
ExecStart=/home/admin/mqtt_lcd/main_tft.py
ExecStop=/bin/kill -INT $MAINPID
OOMScoreAdjust=-100
TimeoutStopSec=10s
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty2

[Install]
WantedBy=multi-user.target
