[Unit]
Description=MQTT/weather LCD 

[Service]
Type=simple
User=admin
Group=admin
WorkingDirectory=/etc/weather_lcd
PIDFile=/var/run/weather_lcd.pid
ExecStart=/etc/mqtt_lcd/main.py
ExecStop=/bin/kill -INT $MAINPID
OOMScoreAdjust=-100
TimeoutStopSec=10s

[Install]
WantedBy=multi-user.target
